{% import "bootstrap/wtf.html" as wtf %}

<!-- <form class="form-horizontal" method="post" role="form">
  {{ form.csrf_token }}

<div class="form-group">
  <label class="sr-only" for="name">Name</label>
  <div class="input-group col-xs-8">
    <span class="input-group-addon" id="name-addon">
      <i class="glyphicon glyphicon-tags" aria-hidden="true" title="Name"></i>
    </span>
    {{ form.name(class_="form-control", **{"aria-describedby": "name-addon"}) }}
  </div>
</div>

<div class="form-group">
  <label class="sr-only" for="url">URL</label>
  <div class="input-group col-xs-8">
    <span class="input-group-addon" id="url-addon">
      <i class="glyphicon glyphicon-link" aria-hidden="true" title="URL"></i>
    </span>
    {{ form.url(class_="form-control", **{"aria-describedby": "url-addon"}) }}
  </div>
</div>

  <div class="form-group">
    {{ wtf.form_field(form.submit) }}
  </div>

</form>
-->

{% extends "base.html" %}
{% block title %}Bookmarks{% endblock %}
{% block page_content %}
  {{ wtf.quick_form(form) }}
{% endblock %}
