{% extends "base.html" %}
{% block title %}Bookmarks{% endblock %}
{% block page_content %}

{% if bookmarks %}

  <ul class="nav nav-pills">
   <li><a href="{{ url_for('main.index', filterkey='recent') }}">most recent</a></li>
   <li><a href="{{ url_for('main.index', filterkey='everything') }}">everything</a></li>
  </ul>

  <ul class="list-unstyled bookmarks-list">
    {% for b in bookmarks %}
      <li>
        <a class="bookmark-name" href="{{ b.url }}" target="_blank">{{ b.name }}</a>
        <br/>
        <small>{{ b.host }}, {{ b.date_created }}</small>
        <a href="{{ url_for('main.bookmark_details', bookmark_id=b.bookmark_id) }}"><span class="glyphicon glyphicon-edit"></span></a>
      </li>
  {% endfor %}
  </ul>
{%  else %}
  <p>There is nothing here yet.</p>
{% endif %}

{% endblock %}
